{% extends "WebApp/base.html" %}

{% block content%}


<br>
<!-- <h4> Select a table: </h4> -->

<!-- <div class="form-row">
<div class ="col-3">
<span class="input-group-append">
<select class="form-control py-2 border-right-0 border" id="select-column">
        <option disabled="true" selected> Select table </option>
        <option value="students"> Students</option>
        <option value="University-table"> Subject </option>
        <option value="staff"> Staff </option>
        <option value="grades"> Grades</option>
        <option value="attendance"> Attendance</option>
</select>
<button type="submit" class="btn btn-outline-info" value="Click" >Select</button>
</span>
</div>
</div> -->


<br>
  <h4> Add filters: </h4>

<div class="form-row">
<div class ="col-3">
<span class="input-group-append">

<select class="form-control py-2 border-right-0 border" name="select" id="select-data">
        <option disabled="true" selected> Select field </option>
        <option value="personal_id_is"> Student ID</option>
        <option value="first_name_contains"> First Name</option>
        <option value="last_name_contains"> Last Name</option>
        <!-- <option value="placeofbirth_contains"> Date of Birth</option> -->
        <option value="placeofbirth_contains"> Place of Birth</option>
        <option value="university_contains"> University</option>
        <option value="specialization_contains"> Specialization</option>
        <option value="exact_gender"> Gender</option>
        <option value="address_contains"> Address</option>
        <option value="phoneNumber_contains"> Phone Number</option>
        <option value="firstNameFather_contains"> Father First Name</option>
        <option value="firstNameMother_contains"> Mother First Name</option>
</select>
<button type="submit" class="btn btn-outline-warning" value="Select" id="button-submit">Add</button>

</span>

</div>
<button class="btn btn-outline-warning" onClick="window.location.reload();">Reset</button>
</div>

<br>
<br>


<script>
$(document).on('click', '#button-submit', (elem)=> {

let container = $("#form-get");
console.log(elem);
console.log('Hello');


let div1 = $('<div/>', {'class': 'form-row'});
let div2 = $('<div/>', {'class': 'form-group col-10'});
let div3 = $('<div/>', {'class': 'input-group'});

let input = $('<input/>', {'class': 'form-control py-2 border-right-0 border', "id": 'some-id',"type": 'search',"name": $('#select-data :selected').val(), "placeholder": 'Search by' + $('#select-data :selected').text()})

input.appendTo(div3);
div3.appendTo(div2);
div2.appendTo(div1);

div1.appendTo(container);

});
</script>

  <form method="GET" action="/viewData" id="form-get">



    <h4> Select the columns you want to display: </h4>
    <div class="form-check form-check-inline">
    <div class = "tags">
    <div class="col">
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="id_stud">Student ID</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="firstname_stud">First Name</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="lastname_stud">Last Name</label>
      <!-- <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="dob_stud">Date of Birth</label> -->
      <label><input class="form-check-input" type="checkbox" id="checkbox-select"  name="address_stud">Address</label>

    </div>
    <div class="col">
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="pob_stud">Place of Birth</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="university_stud">University</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="spec_stud">Specialization</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="gender_stud">Gender</label>
    </div>
    <div class="col">

      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="phonenumber_stud">Phone Number</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="ffname_stud">Father First Name</label>
      <label><input class="form-check-input" type="checkbox" id="checkbox-select" name="mfn_stud">Mother First Name</label>
    </div>
      </div>
    </div>


    <br>
    <br>
    <h4> Filters: </h4>
    <button type="submit" class="btn btn-outline-warning" id="submit-search">Search</button>
    <br>
    <br>

  </form>

  <script>
    $(document).ready(function(){
      $("#submit-search").click(function(){
        var nameFields = [];
        $.each($("input[name='students']:checked"), function(){
          nameFields.push($(this).val());
        });

      });
    });

  </script>
{%endblock content%}
